**/venv
docker-compose.yaml
docker-compose-dev.yaml
Dockerfile
libs/QmdsCnnIr/data
libs/QmdsCnnIr/results
data
logs
**/.idea
**/__pycache__
**/.git
*.pyc
*.pyo
*.pyd
.env
.env.example
**/.DS_Store
**/.gitignore
**/README.md